@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive img-thumbnail " src="@Url.Content("~/image/banner.jpg")" />
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Đến Điện máy quyết tiến</h1>
      
    </div>
</div>